{% extends "base.html" %}

{% block title %} {{ article.title }} | {{ SITENAME }} {% endblock %}

{% block content %}
<div class="Page">
  <article class="Article">
    <h1 class="Article-title"> {{ article.title }}</h1>
    <p class="Article-date"> {{ article.locale_date }} </p>

    <section class="Article-content">
        {{ article.content }}
    </section>


    {% if article.tags %}
    <p class="Article-tags">tagged in
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
      {% endfor %}
    </p>
    {% endif %}

    <section class="Article-meta">
      <p>Please send comments by
      <a href="mailto:{{ MAIL_USERNAME }}@{{MAIL_HOST}}">email</a>. I welcome your feedback, advice, and criticism.</p>
    </section>
  </article>
</div>
{% endblock %}
