<!DOCTYPE html>
<!--   ____  _
 /    / ___|| |       Hey there, developer!
 /    \___ \| |       If you want to see more code,
 /     ___) | |___    the source code for this site is at
 /    |____/|_____|   https://github.com/sloria/www
 /-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>
    <meta name="author" content="{{AUTHOR}}">
    <meta name="description" content="{% block description %} The personal website of {{AUTHOR}} {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/icon.png">

    {% assets filters="postcss", output="css/style.min.css", "css/pygments.css", "css/style.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body class="Site">
    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <div class="Site-content">
      <div class="u-container">
      {% block content %} {% endblock %}
      </div>
    </div>

    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
    {% block javascript %}{% endblock %}
  </body>
</html>

