<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>
    <meta name="description" content="Steven Loria's personal website">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/icon.png">

    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,400b|Merriweather:400" rel="stylesheet">
    {% assets filters="postcss", output="css/style.min.css", "css/pygments.css", "css/style.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body class="Site">
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <div class="Site-content">
      <div class="u-container">
      {% block content %} {% endblock %}
      </div>
    </div>

    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
    {% include 'googleanalytics.html' %}
  </body>
</html>

