<!DOCTYPE html>
<!--   ____  _
 /    / ___|| |       Hey there, developer!
 /    \___ \| |       Let me know what you're working on.
 /     ___) | |___    I'm on twitter: @sloria1
 /    |____/|_____|   You can email me, too: sloria1 AT gmail DOT com
 /-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {{SITENAME}} {% endblock %}</title>
    <meta name="description" content="{% block description %} The personal website of {{AUTHOR}} {% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/icon.png">

    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <script>
      (function(d) {
        var config = {
          kitId: 'efs6vco',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    {% assets filters="postcss", output="css/style.min.css", "css/pygments.css", "css/style.css" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}

  </head>
  <body class="Site">
    {% block header %}
      {% include "header.html" %}
    {% endblock %}

    <div class="Site-content">
      <div class="u-container">
      {% block content %} {% endblock %}
      </div>
    </div>

    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
    {% block javascript %}{% endblock %}
    {% include 'googleanalytics.html' %}
  </body>
</html>

