<header class="Site-header">
  <nav class="Nav">
    <div class="Nav-home">
      <a href="{{SITEURL}}">{{SITENAME}}</a>
    </div>
    <div class="Nav-sections">
      <a class="Nav-section {{'Nav-section--active' if page and page.url == ''}}" href="{{ SITEURL }}/">about</a>
      <a class="Nav-section {{'Nav-section--active' if page and page.url == 'projects'}}" href="{{ SITEURL }}/projects">projects</a>
      <a class="Nav-section {{'Nav-section--active' if not page}}" href="{{ SITEURL }}/archives">archives</a>
    </div>
  </nav>
  <div class="u-separator"></div>
</header>
