markdown==2.6.9
pelican==3.7.1
ghp-import==0.5.5
invoke==0.21.0
beautifulsoup4==4.6.0
pelican-gist==0.3.3
# Assets
# install fork with postcss support
git+https://github.com/sloria/webassets.git@postcss
cssmin==0.2.0
pelican-alias==1.1
