markdown==3.3
pelican==4.5.0
invoke==1.4.1
beautifulsoup4==4.9.3
pelican-gist==0.3.4
# master has postcss support
git+https://github.com/miracle2k/webassets.git@e3e82114324ffd6cf1a2877976a1de08c515eb10
cssmin==0.2.0
pelican-alias==1.1
