/* Custom media queries */
@custom-media --break-md (width >= 490px);

/* Variables */
:root {
  --fontColor: #57534a;
  --fontSansSerif: 'Lato', 'Helvetica Neue', sans-serif;
  --fontSansSerifWeight: 300;
  --fontSerif: 'Merriweather', Georgia, serif;
  --fontWeightMed: 400;
  --fontWeightBold: 700;
  --fontMonospace: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono',
    'Monaco', 'Courier New';
  --fontSize: 1.125em;
  --lineHeight: 1.65;
  --typeScale: 1.414;

  --primaryColor: #234764;
  --secondaryColor: #32742c;
  --mutedColor: #888;
  --gray: #ccc;
  --grayHighlight: #f9f9f9;
  --codeBGColor: ghostWhite;
}

html {
  font: normal var(--fontSize)/var(--lineHeight) var(--fontSerif); /* base font size 18px with 1.65 line-height */
  font-weight: var(--fontWeightMed);
  color: var(--fontColor);
}

/* Typography */

h1,
h2,
h3 {
  font-family: var(--fontSerif);
  font-weight: var(--fontWeightBold);
  color: var(--fontColor);
  margin: calc(1em * var(--typeScale)) 0 0.5em;
  line-height: 1.2;
}

h1.u-lead {
  font-family: var(--fontSansSerif);
  font-weight: var(--fontSansSerifWeight);
  font-size: calc(1em * var(--typeScale) * var(--typeScale));
}

h1 {
  margin-top: 0;
  font-size: calc(1em * var(--typeScale) * var(--typeScale));
}

h2 {
  font-size: calc(1em * var(--typeScale));
}

h3 {
  font-size: 1.1em;
}

small,
aside {
  font-size: var(1em / var(--typeScale));
}

a {
  color: var(--primaryColor);
}
a:hover {
  color: var(--secondaryColor);
}

/* Code blocks */

pre code {
  word-wrap: normal;
  white-space: pre-wrap; /* http://css-tricks.com/almanac/properties/w/whitespace */
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

/* headlines */

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
  color: var(--secondaryColor);
  text-decoration: underline;
}

/* Utilities */

.u-container {
  max-width: 740px;
  margin: 0 auto;
}

.u-separator {
  max-width: 740px;
  width: 90vw;
  margin: 0 auto;
  border-bottom: 1px solid var(--gray);
  font-size: 16px;
  color: var(--fontColor);
  text-align: center;
}

/* Components */

/* Site layout */

.Site {
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
}
.Site-header {
  flex: none;
  /* float: left; */
}
.Site-footer {
  flex: 0 0 200px;
}
/* Nav */
.Nav {
  max-width: 740px;
  margin: 0 auto 10px auto;
  padding-top: 1.0em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media (--break-md) {
    padding-top: 2.0em;
  }

  & a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
  }
}
.Nav-home {
  flex: 0 1 20%;
}
.Nav-sections {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;

  @media (--break-md) {
    justify-content: flex-end;
  }

  & a {
    font-family: var(--fontSansSerif);
    font-weight: var(--fontSansSerifWeight);
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & ul li {
    display: inline;
    margin: 0 2px;
    padding: 0;
  }
}
/* Footer */

.Footer {
  margin: 10px auto 0 auto;
  font-size: 14px;
  color: var(--mutedColor);
  text-align: center;

  & a {
    color: var(--mutedColor);
  }

  & a:hover {
    color: var(--secondaryColor);
    opacity: 0.8;
  }

  & p {
    margin: 0;
  }
}
.Footer-social {
  font-size: 27px;
  padding-top: 20px;
  padding-bottom: 10px;

  & a {
    color: var(--mutedColor);
    text-decoration: none;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & ul li {
    display: inline;
    margin: 0 1vw;
    padding: 0;
  }
}

/* Content */

.Site-content {
  flex: 1 0 auto;
  width: 100%;
}

.Page {
  padding: 5vw 2em 0 2em;

  @media (--break-md) {
    padding: 50px 2em 0 2em;
  }
}

/* Article */

.Article-date {
  font-style: italic;
}

.Article-tags {
  text-align: right;
  font-style: italic;
  color: var(--mutedColor);
}

.Article-meta {
  font-family: var(--fontSansSerif);
}

/* Entry */

.Entry {
  margin: 25px 3vw;
}
.Entry-title a {
  text-decoration: none;
  font-weight: var(--fontWeightMed);
}
.Entry-detail {
  font: var(--fontSerif);
  margin-left: 140px;
}
.Entry-date {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
  color: var(--mutedColor);
  text-align: right;
  font-style: italic;
  font-size: 14px;
}
.Entry-description {
  font-size: 0.9em;
  font-family: var(--fontSansSerif);
  font-weight: var(--fontSansSerifWeight);
}

/* Word count */

.WordCount {
  color: var(--mutedColor);
}

/* Pagination */

.Pagination {
  margin: 36px 0 0 0;
  text-align: center;

  & strong {
    font-weight: normal;
    font-style: italic;
  }
}

/* Tags */
.Tag-header {
  font-family: var(--fontSerif);
}

/* margins and stuff */
dt {
  margin: 25px 0 16px 0;
  padding: 0;
}
dd {
  margin: 16px 0 25px 40px;
  padding: 0;
}
ul ol,
ol ul,
ul ul,
ol ol {
  margin: 10px 0;
  padding: 0 0 0 40px;
}
li {
  padding: 0;
  margin: 6px 0;
}
/* code formatting.  no monospace because of webkit (bug?) */
pre,
code,
tt {
  font-family: var(--fontMonospace);
  font-size: 0.88em;
  overflow: auto;
}
pre {
  /*line-height: 1.3;*/
  border: 1px solid var(--gray);
  padding: 10px;
  background-color: var(--codeBGColor);
  border-radius: 10px;
}
code,
tt {
  background: var(--grayHighlight);
}

.gist pre,
.gist code,
.gist tt {
  font-size: 1em;
}

/* Blockquotes */

blockquote {
  background: var(--grayHighlight);
  border-left: 10px solid var(--gray);
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
blockquote:before {
  color: var(--gray);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
blockquote cite {
  color: var(--mutedColor);
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

blockquote cite:before {
  content: '\2014 \2009';
}

aside {
  background: var(--grayHighlight);
  margin: 20px -30px;
  padding: 10px 30px;
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

hr {
  opacity: 0.3;
  color: var(--gray);
}
